.image-logo {
  width: 100%;
}

.sky-text {
  color: #0033A1;
}

.btn-pucesd {
  background: #0033A1;
  border: 1px solid #0033A1;

  &:hover {
    background: #0045d5;
    border: 1px solid #0045d5;
  }
}